// Import Bulma's core
@import "~bulma/sass/utilities/_all";

@font-face {
    font-family: 'Neurial Grotesk';
    src: url("https://www.shipbob.com/wp-content/themes/ShipBob/assets/fonts/NeurialGrotesk-Regular.woff2") format("woff2"), url("https://www.shipbob.com/wp-content/themes/ShipBob/assets/fonts/NeurialGrotesk-Regular.woff") format("woff"), url("https://www.shipbob.com/wp-content/themes/ShipBob/assets/fonts/NeurialGrotesk-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Neurial Grotesk';
    src: url("https://www.shipbob.com/wp-content/themes/ShipBob/assets/fonts/NeurialGrotesk-Medium.woff2") format("woff2"), url("https://www.shipbob.com/wp-content/themes/ShipBob/assets/fonts/NeurialGrotesk-Medium.woff") format("woff"), url("https://www.shipbob.com/wp-content/themes/ShipBob/assets/fonts/NeurialGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal; }
  
  @font-face {
    font-family: 'Neurial Grotesk';
    src: url("https://www.shipbob.com/wp-content/themes/ShipBob/assets/fonts/NeurialGrotesk-Bold.woff2") format("woff2"), url("https://www.shipbob.com/wp-content/themes/ShipBob/assets/fonts/NeurialGrotesk-Bold.woff") format("woff"), url("https://www.shipbob.com/wp-content/themes/ShipBob/assets/fonts/NeurialGrotesk-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal; }

// Set your colors
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Font
$family-sans-serif: "Neurial Grotesk", sans-serif;

// Import Bulma and Buefy styles
@import "~bulma";
$background: #000;
@import "~buefy/src/scss/buefy";

html, body {
    background: $background;
    font-family: $family-sans-serif;
}