.footer-section {
    border-top: 1px solid #333;
    background: #111;
    ul {
        h5 {
            margin-bottom: 1.25rem;
        }
        li {
            @media screen and (min-width: 992px) {
                padding: .1rem 0;
            }
            a {
                color: $gray;
                font-weight: 500;
            }
        }
    }
}