.navbar {
    background: rgba($color: $black, $alpha: .8);
    border-bottom: 1px solid rgba($color: $grey, $alpha: .8);
    backdrop-filter: saturate(180%) blur(5px);
    height: 64px;
    &.is-active {
        background: $black;
        border-color: $black;
    }
    &-item {
        img {
            max-height: 70px;
        }
        font-weight: 500;
        color: $gray;
        &:hover, &:focus {
            color: $white;
            background-color: transparent!important;
        }
        &.active--exact {
            color: $primary;
        }
    }
    &-link {
        color: $white;
    }
    &-burger {
        background: transparent;
        border: none;
        outline: none!important;
        width: 64px;
        height: 64px;
        span {
            height: 2px;
            width: 22px;
            left: calc(50% - 10px);
        }
        &:not(.is-active) {
            span {
                &:nth-child(1) {
                    top: calc(50% - 8px);
                }
                &:nth-child(3) {
                    top: calc(50% + 6px);
                }
            }
        }
    }
    &-menu {
        &.is-active {
            background: $black;
            border-bottom: 1px solid rgba($color: $grey, $alpha: .8);
        }
    }
}